body {
    margin: 0;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
    overflow-y: scroll; /* Immer vertikale Scrollbar anzeigen */
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

/* Profile Container spezifische Breite */
.profile-container {
    max-width: 900px;
}